#_moss {
  padding-top: 25px;
}

#_moss > section:first-child {
  padding-top: 5px;
}

#_moss > section {
  padding-top: 5px;
}

#_moss p {
  padding-bottom: 20px;
  font-size: 25px;
  width: 430px;
  margin: auto;
}

#_moss a {
  text-decoration: none;
  color: black;
}

#_moss a:hover {
  text-decoration: underline;
}

#_moss .moss-alias-link:hover {
  color: #4078c0;
}

#_moss .moss-url-link:hover {
  color: #4078c0;
}

#_moss .moss-selected-link.moss-alias-link {
  color: #4078c0;
}

#_moss .moss-selected-link.moss-url-link {
  color: #4078c0;
}

#_moss .moss-selected-link {
  text-decoration: underline;
  text-shadow: .6px 0px 0px black;
}

a:focus {
  outline:0;
}
