#_moss {
  padding-top: 25px;
}

#_moss > section:first-child {
  padding-top: 5px;
}

#_moss > section {
  padding-top: 5px;
}

#_moss p {
  padding-bottom: 24px;
  font-size: 25px;
  width: 700px;
  margin: auto;

  line-height: 1.3;
  letter-spacing: -.003em;
  font-weight: 400;
}

#_moss .keys-helper {
  font-variant: small-caps;
  font-size: 20px;
  text-decoration: none;
}

#_moss a {
  text-decoration: none;
  color: black;
}

#_moss a:hover {
  text-decoration: underline;
}

#_moss .moss-alias-link:hover {
  color: #4078c0;
}

#_moss .moss-url-link {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#_moss .moss-url-link:hover {
  color: #4078c0;
}

#_moss .moss-selected-link.moss-alias-link {
  color: #4078c0;
}

#_moss .moss-selected-link.moss-url-link {
  color: #4078c0;
}

#_moss .moss-open-link {
  text-decoration: underline;
}

#_moss .moss-selected-link {
  text-shadow: .8px 0px 0px black;
}

a:focus {
  outline:0;
}
