#_moss {
  padding-top: 25px;
}

#_moss > section:first-child {
  padding-top: 5px;
}

#_moss > section {
  padding-top: 5px;
}

#_moss p {
  padding-bottom: 24px;
  font-size: 30px;
  width: 700px;
  margin: auto;

  line-height: 1.3;
  letter-spacing: -.003em;
  font-weight: 400;
}

#_moss a {
  text-decoration: none;
  color: black;
}

#_moss a:hover {
  text-decoration: underline;
}

#_moss .moss-alias-link:hover {
  color: #4078c0;
}

#_moss .moss-url-link {
  word-break: break-all;
}

#_moss .moss-url-link:hover {
  color: #4078c0;
}

#_moss .moss-selected-link.moss-alias-link {
  color: #4078c0;
}

#_moss .moss-selected-link.moss-url-link {
  color: #4078c0;
}

#_moss .moss-open-link {
  text-decoration: underline;
}

#_moss .moss-selected-link {
  text-shadow: .6px 0px 0px black;
}

a:focus {
  outline:0;
}
